.site-header {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	padding: 0 30px;

	@include breakpoint(md) {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 9999;

		.admin-bar & {
			top: 32px;
		}
	}
}
