# Normalize text file line endings to LF on checkin
# and prevent conversion to CRLF on checkout.
* text=auto eol=lf

# Text files.
*.css text
*.dist text
*.js text
*.json text
*.md text
*.php text
*.po text
*.pot text
*.xml text

# Binary files.
*.eot binary
*.gif binary
*.ico binary
*.jpg binary
*.mo binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary
