/* Gutenberg editor column widths
/* Using extra .wp-admin class to override inline default styles:
/* https://github.com/WordPress/gutenberg/issues/9894.
---------------------------------------------------------------- */

/* Regular content width.
/* 702px + 27px to match paragraph width on front-end and editor.
---------------------------------------------------------------- */
body.wp-admin.gutenberg-editor-page .editor-block-list__block,
body.wp-admin.gutenberg-editor-page .editor-default-block-appender,
body.wp-admin.gutenberg-editor-page .editor-post-title__block {
	max-width: 732px;
}

/* Width of "wide" blocks
/* 1062px + 30px so wide images match width in front-end and editor.
/* 1062px = default column width of 702px + .alignwide negative margin of 360px
---------------------------------------------------------------------------- */
body.wp-admin.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
    max-width: 1092px;
}

/* Width of "full-wide" blocks */
body.wp-admin.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
    max-width: none;
}

/* Other Editor Defaults
--------------------------------------------- */

.gutenberg__editor {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.gutenberg__editor .edit-post-visual-editor,
.gutenberg__editor .edit-post-visual-editor p {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.625;
}

.gutenberg__editor .editor-rich-text__tinymce a {
	color: #0073e5;
}

.gutenberg__editor .editor-post-title .editor-post-title__input {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	font-weight: 400;
}

/* Background Color
--------------------------------------------- */

.gutenberg__editor p.has-background {
	padding: 25px 30px;
}

.gutenberg__editor p.box-shadow {
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.gutenberg__editor p.has-background.light-text a {
	color: #fff;
	text-decoration: underline;
}

.gutenberg__editor p.has-background.light-text a:focus,
.gutenberg__editor p.has-background.light-text a:hover {
	text-decoration: none;
}

/* Blockquotes
--------------------------------------------- */

.gutenberg__editor .wp-block-quote,
.gutenberg__editor .wp-block-quote cite {
	font-style: italic;
}

.gutenberg__editor .wp-block-quote.is-style-large p {
	font-size: 24px;
}

.gutenberg__editor .wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 0;
	font-style: italic;
	margin: 30px;
	padding-left: 0;
}

.gutenberg__editor .wp-block-quote cite {
	color: #666;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: -15px;
}

/* Color Palette
--------------------------------------------- */

.gutenberg__editor .has-light-gray-background-color {
	background-color: #f5f5f5;
}

.gutenberg__editor .has-light-gray-color {
	color: #f5f5f5;
}

.gutenberg__editor .has-medium-gray-background-color {
	background-color: #999;
}

.gutenberg__editor .has-medium-gray-color {
	color: #999;
}

.gutenberg__editor .has-dark-gray-background-color {
	background-color: #333;
}

.gutenberg__editor .has-dark-gray-color {
	color: #333;
}

/* Cover Image
--------------------------------------------- */

.gutenberg__editor .wp-block-cover-image .wp-block-cover-image-text {
	color: #fff;
	font-size: 48px;
}

/* Figcaption
--------------------------------------------- */

.gutenberg__editor .wp-block-image figcaption {
	color: #666;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
}

/* Font Sizes
--------------------------------------------- */

.gutenberg__editor p.has-small-font-size {
	font-size: 12px;
}

.gutenberg__editor p.has-regular-font-size {
	font-size: 16px;
}

.gutenberg__editor p.has-large-font-size {
	font-size: 20px;
}

.gutenberg__editor p.has-larger-font-size {
	font-size: 24px;
}

/* Headings
--------------------------------------------- */

.gutenberg__editor .wp-block-heading {
	font-family: 'Source Sans Pro', sans-serif;
}

.gutenberg__editor .wp-block-heading h1,
.gutenberg__editor .wp-block-heading h2 {
	font-weight: 400;
}

.gutenberg__editor .wp-block-heading h3,
.gutenberg__editor .wp-block-heading h4 {
	font-weight: 600;
}

.gutenberg__editor .wp-block-heading h1 {
	font-size: 30px;
}

.gutenberg__editor .wp-block-heading h2 {
	font-size: 27px;
}

.gutenberg__editor .wp-block-heading h3 {
	font-size: 24px;
}

.gutenberg__editor .wp-block-heading h4 {
	font-size: 20px;
}

/* Lists
--------------------------------------------- */

.gutenberg__editor .editor-block-list__block li {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.625;
	margin-bottom: 0;
}

/* Preformatted elements
--------------------------------------------- */

.wp-block-verse pre,
.wp-block-preformatted pre {
	font-family: monospace;
	font-size: 18px;
	line-height: 1.625 !important;
}

/* Separators
--------------------------------------------- */

hr.wp-block-separator {
	border: none;
	border-top: 1px solid #eee;
    margin: 1.65em auto;
}
