/* Site Header
---------------------------------------------------------------------------- */

.site-header {
	background-color: $site-header--background-color;
	box-shadow: 0 0 $box-shadow-blur-radius rgba(0, 0, 0, $box-shadow-opacity);
	padding: 0 ($spacer * 3);

	@media only screen and (min-width: 960px) {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 9999;
	}
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding-bottom: ($spacer * 2.5);
	padding-top: ($spacer * 2.5);

	.wp-custom-logo {
		max-width: 350px;
		padding-bottom: ($spacer * 0.5);
		padding-top: ($spacer * 0.5);
		width: 100%;

		.custom-logo-link {
			display: block;

			img {
				width: auto;
			}
		}

	}
}

.site-title {
	font-size: $site-title--font-size;
	font-weight: 600;
	line-height: $line-height--smaller;
	margin-bottom: 0;

	a {
		color: $site-title__link--font-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: $site-title__link--font-color;
			text-decoration: none;
		}
	}
}


.site-description,
.wp-custom-logo .site-title {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
