/* Woo Search
-------------------------------------------------- */

.woocommerce-product-search {
	overflow: hidden;
	width: 100%;
}

.woocommerce-product-search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Woo Shopping Cart
-------------------------------------------------- */

.woocommerce .widget_shopping_cart ul.cart_list li,
.woocommerce.widget_shopping_cart ul.cart_list li {
	padding-top: 15px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top: 15px;
}

.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #eee;
}

.woocommerce .widget_shopping_cart .buttons a,
.woocommerce.widget_shopping_cart .buttons a {
	margin-bottom: 5px;
}

.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-left: 0;
}

/* Woo Product Lists
-------------------------------------------------- */

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
	width: 60px;
}

.sidebar ul.product_list_widget li {
	line-height: 1.4;
	margin-bottom: 15px;
	padding: 15px 0 0;
}

.sidebar ul.product_list_widget li:last-child {
	margin-bottom: 0;
	padding-bottom: 15px;
}

/* Woo Filter
-------------------------------------------------- */

.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #eee;
}

.woocommerce.widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-range {
	background-color: #0073e5;
}

.woocommerce .widget_layered_nav ul li.chosen a::before,
.woocommerce .widget_layered_nav_filters ul li a::before,
.woocommerce .widget_rating_filter ul li.chosen a::before {
	color: #0073e5;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
	top: -0.28em;
}

.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce.widget_price_filter .price_slider_amount .button {
	font-size: 16px;
}

/* Woo Active Filters
--------------------------------------------- */

.woocommerce.widget_layered_nav_filters ul li {
	margin: 0 20px 20px 0;
}

/* Woo Recent Reviews
-------------------------------------------------- */

.woocommerce.widget_recent_reviews .reviewer {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
