/* Regular content width.
---------------------------------------------------------------------------- */

.wp-block {
	max-width: 702px;
}

/* Width of "wide" blocks
/* 1062px = default column width of 702px + .alignwide negative margin of 360px
---------------------------------------------------------------------------- */

.wp-block[data-align="full"] .wp-block[data-align="wide"],
.wp-block[data-align="wide"] .wp-block[data-align="wide"],
.wp-block[data-align="wide"] {
	max-width: 1062px;
}

.wp-block[data-align="full"],
.wp-block[data-align="wide"] .wp-block,
.wp-block[data-align="full"] .wp-block {
	max-width: none;
}
