.wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-latest-posts li {
	list-style-type: none;
}

.wp-block[data-align="center"] .wp-block-latest-posts {
	text-align: center;
}

.wp-block[data-align="full"] .wp-block-latest-posts {
	padding: 0 30px;
}
