a {
	color: $color--accent;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
	font-weight: 600;
}

h4 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 40px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.editor-post-title__block .editor-post-title__input {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

p.has-drop-cap:not(:focus)::first-letter {
	margin: 0.02em 0.08em 0 -0.08em;
}

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
	margin-right: 0.01em;
}
